django
djangorestframework
pillow
django-cors-headers
python-decouple
psycopg2-binary
phonenumbers
djangorestframework-simplejwt
drf-yasg
django-extensions
drf-social-oauth2
dj-rest-auth
sphinx
sphinx_rtd_theme
coverage
pytest-django
uritemplate
pyyaml
ipython
pandas
openpyxl
django-credit-cards
django-polymorphic
stripe
drf-stripe-subscription
pydantic
case-converter
django-paranoid